* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(./image/marius-masalar-CyFBmFEsytU-unsplash.jpg);
}
form {
  height: 800px;
  width: 40%;
  background: rgba(223, 211, 198, 0.589);
  border-radius: 20px;
  text-align: center;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
label {
  display: block;
}
input {
  border-radius: 40px;
}
select {
  border-radius: 40px;
}
button {
  width: 50%;
  height: 30px;

}
.genre-container input {
  display: inline-block;
}
.genre-container span {
  display: inline-block;
}
span {
  display: block;
}
.error {
  color: rgb(209, 0, 0);
}
